@import "tailwindcss";

button:not(:disabled),
[role="button"],
input[type="checkbox"],
input[type="radio"],
select,
.cursor-pointer {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.writing-mode-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}